html{ 
font-family: Helvetica,sans-serif; 
background: #eee; 
}

body{
min-width: 480px;
margin: 10px;
}

a {
	outline: none;
}

.flash{ 
background: #CEE5F5; 
padding: 0.5em;
margin-top: 25px;
border: 1px solid #aacbe2; 
font-family: Georgia, serif;
}

.title{
font-family: 'Lobster', cursive;
font-size: 50px;
margin-left: 15px;
}

.title2{
font-family: 'Lobster', cursive;
font-size: 25px;
}

#redirect{
font-family: Georgia, serif;
font-size: 34px;
margin-left: 15px;
}

#nav {
margin: 20px 0px;
}

#add {
	font-size: 24px;
	font-weight: 700;
	line-height: 40px;
	font-family: Georgia, serif;
}

.button {
color: #000000;
text-decoration: none;
margin: 15px;
padding: 5px;
background-color: #a7d8a0;
font-family: Georgia, serif;
font-weight: bold;
font-size: 14px;
border: none;
}

.button a{
color: #ffffff;
}

.button a:visited {
color: #ffffff;
}

#givers{
border-collapse: collapse;
border-spacing: 0px;
margin: auto;
margin-bottom: 50px;
}

#entry {
	margin-bottom: 10px;
}
#entry legend {
	padding: 0 2px;
	font-weight: bold;
}
#entry label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
}
#entry fieldset ol {
	margin: 0;
	padding: 0;
}
#entry fieldset li {
	list-style: none;
	padding: 5px;
	margin: 0;
}
#entry label {
  width: 120px; /* Width of labels */
}

#entry label {
  margin-right: 20px; /* Width plus 3 (html space) */
}

#list{
margin-top: 25px;
}

#entries{
border-collapse: collapse;
border-spacing: 0px;
margin: auto;
width: 100%;
}

#tabletitle th{
width: 200px;
text-align: left;
background-color: #ccc281;
padding: 5px;
}

#entries td{
padding:5px;
text-align: left;
}

#entries tbody tr.odd td{
background-color: #e0e4cc;
}

#entries tbody tr.even td {
background-color: #a7dbd8;
}

#extra{
text-align: left;
padding: 10px;
background-color: #cccccc;
border-radius: 10px;
}

.input-label {
	margin-top: -2px;
}

#submission {
	display: block;
	margin-top: 50px;
}

.comment {
	min-width: 300px;
}

.minx {
	min-width: 100px;
}

.gcomment {
	min-width: 300px;
}

td {
	padding-left: 5px;
	padding-right: 5px;
}

#arrow {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
}
