<!doctype html>
<html>
<head>
<title> FlyOlinFly </title>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/ui/jquery-ui-git.js"></script>
<script src="{{ url_for('static', filename='jgestures.min.js')}}"></script>
<script src="{{ url_for('static', filename='jquery.timepicker.min.js')}}"></script>
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/jquery-ui-git.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.timepicker.css')}}">
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico')}}">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
</head>
<body>

{% macro input(name, value='', type='text', size=20) -%}
	<input class="input" id="{{ name }}" type="{{ type }}" name="{{ name }}" 
	placeholder="{{ value|e }}" size="{{ size }}" 
	autocomplete="off" autocorrect="off"/>
	{%- endmacro %}

{% if not session.logged_in %}

<span id="redirect"> 
Please authorize this app.</span><br />
<span id="redirect">
Redirecting to OlinApps...
</span>

<script type="text/javascript">
$(document).ready(function() {
setTimeout("location.href='http://olinapps.com/external?callback=http://flyolinfly.herokuapp.com/authed'", 5000);
});
</script>
	
{% else %}
<div id="main">
	<span class="title" >Fly Olin Fly</span>
	{% for message in get_flashed_messages() %}
		<div class="flash">{{ message }} </div>
	{% endfor %}
	<div id="nav">
		<a class="button" href="/close">Logout</a>
		<a class="button" id="modent" href="javascript:void(0)" >Add or Modify Entry</a>
	</div>
	 <form name="mainform" action="{{ url_for('add_newentry') }}" method=post>
	<fieldset id="entry">
		<legend>Arrival Details</legend>
		<em>All fields are required</em>
		<ol>
			<li>
				<label id="fnamelabel">First Name</label>
				{{ input('fname', 'Frank') }}<br />
			</li>
			<li>
				<label id="lnamelabel">Last Name</label> 
				{{ input('lname', 'Olin') }} <br />	
			</li>
			<li>
				<label id="phonenumlabel">Phone Number</label> 
				{{ input('phonenum', 'XXX-XXX-XXXX', 'text') }} <br />
			</li>
			<li> 	
				<label id="emaillable">E-mail</label> 
				{{ input('email', 'whatyoucheck@onbreak.com', 'email') }} <br />
			</li>
			<li>
				<label id="flightlabel">Flight</label> 
				{{ input('flightdesc', 'Airline and Flight Number') }} <br />
			</li>
			<li>				
				<label id="datelabel">Date</label> 
				{{ input('datepicker', 'MM/DD/YYYY', 'text') }} <br />			
			</li>
			<li>
				<label id="timelabel">Time</label> 
				{{ input('timepicker', 'HH:MM AM/PM', 'text') }} <br />
			</li>
		</ol>
	<input class="button" type="submit" value="Submit">
	<button class="button" type="reset" value="Reset"></button>
	<button class="button" id="close_entry" href="javascript:void(0)" value="Close"></button>
	</fieldset>
	</form>
	<div id="list">
		{% if entries != None %}
		<table id="entries" border="0">
			<thead>
				<tr id="tabletitle">
					<th class="date">Date</th>
					<th class="time">Time</th>
					<th class="name">Name</th>
					<th class="phonenum">Phone</th>
					<th class="flightdesc">Flight</th>	
					<th class="email">Email</th>
				</tr>	
			</thead>
			<tbody>
				{% for entry in entries %}
					{% if loop.index%2 == 0 %}
					<tr id="{{entry.fname}}{{entry.lname}}" class="even link">
					{% else %}
					<tr id="{{entry.fname}}{{entry.lname}}" class="odd link">
					{% endif %}
						<td class="date">{{ entry.date }}</td>
						<td class="time">{{ entry.time }}</td>
						<td class="name">{{ entry.fname }} {{ entry.lname }}</td>
						<td class="phonenum">{{ entry.phonenum }}</td>
						<td class="flightdesc">{{ entry.flightdesc }}</td>
						<td class="email">{{ entry.email }}</td>
					</tr>
					<tr class="drawer" id="{{entry.fname}}{{entry.lname}}drawer">
					<td class="extend" id="{{entry.fname}}{{entry.lname}}extend" colspan="3"></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<h2> Hope you had a wonderful break! </h2>
		{% endif %}
		</div>
	</div>
<script type="text/javascript" >

$(window).resize(responsive)

function close_entry() {
}

function responsive() {
	winwidth =  document.documentElement.clientWidth

	if (winwidth >= 1000) {
		$(".drawer").hide()
		$(".extend").hide()
		$(".phonenum").show()
		$(".flightdesc").show()
		$(".email").show()
		$("#add").remove()

		//Currently form input types are not mature enough to be implemented
		//$("#phonenum").attr("type", "tel")
		//$("#datepicker").attr("type", "text")
		//$("#timepicker").attr("type", "text")
		
		$(".link").click(function(){
			$(".drawer").hide()
			$(".extend").hide()
			}); 
	}

	else {
		$(".drawer").hide()
		$(".extend").hide()
		$(".phonenum").hide()
		$(".flightdesc").hide()
		$(".email").hide()
		$("table td").css("width", "150")
		$("#phonenumlabel").attr("type", "number")
		$(".link").css("cursor", "pointer")
		$(".link").click(drawer)
		$(".link").bind("tapone", drawer)
		if ($("#add").length == 0) {
			$("#list").prepend("<span id='add'>Tap an entry to see details.</span>")
		}
	}
}

function drawer() {
	$(".drawer").hide()
	$(".extend").hide()
	item = $(this).attr('id')
	$("#"+item+"extend").empty()
	$("#"+item+"drawer").show()
	$("#"+item+"extend").show()
	phonenum = $("#" + item +" .phonenum").html()
	flightdesc = $("#" +item +" .flightdesc").html()
	email = $("#" + item + " .email").html()
	$("#"+item+"extend").append(
		"<div id='extra'><b>Phone Number:</b> " + phonenum +
		"<br /> <b>Flight:</b> " + flightdesc + 
		"<br /> <b>E-mail:</b> " + email + 
		"<br /><br /><b>Tap anywhere in this box to close or tap another entry.</b>" +
		"</div>")
};

function close() {
	$(".drawer").hide()
	$(".extend").hide()
	$("#extra").fadeOut('1200')
};
	
$(document).ready(function() {
//Jump to the user
window.location.hash= "{{user}}"
$("#{{user}}").removeAttr('class').addClass("link").css("background-color", "#f38630")
$("#entry").hide()
$(".flash").delay('5000').fadeOut('200')
//Activate the window resize code
responsive()
//Activate the date and time picker
$("#datepicker").datepicker();
$('#timepicker').timepicker({ 
	'timeFormat': 'h:i A',
    'scrollDefaultNow': true,
    'step': 5
	});
//Close the drawere code
$(".extend").bind("tapone", close);
$(".extend").click(close);

//Fade in the entry form
$("#modent").click(function(){
	$("#entry").fadeIn('800')
});


//Close the entry form
$("#close_entry").click(function(){
	$("#entry").hide();
});
$("#close_entry").bind("tapone", function(){
	$("#entry").hide();
});

});
</script>
{% endif %}


</body>
</html>
